<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certificado</title>
</head>

<style>
    #photo {
        width: 100%
    }

    .textDiv {
        position: absolute;
        top: 0;
        left: 0;

        /*cor apenas para exmplo*/
        color: black;
    }
</style>

<body>
    <div class="divLeft">
        <!--3300 x 2300-->
        <img id="photo" src="https://i.imgur.com/KkzOC9e.jpg'">

        <div class="textDiv">
            <h1 style="padding-left: 10.5cm; padding-top: 2cm; font-size: 48px;">CERTIFICADO</h1>
            <h3 style="padding-left: 11.55cm;">Confiro o presente certificado a</h3>
        </div>
    </div>
</body>

</html>